{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "index/index.css" %}">

<div class="content">
    <h3>查询(模式:{{queryType}})</h3>
    <p>查询须知：<br>
       1.由于教务系统反应较慢，点击查询后20秒内返回结果属于正常，如返回超时信息请稍后重试<br>
       2.本功能对手机端支持较差，如您是通过QQ、微信打开，请复制到浏览器打开使用<br>
       3.本功能不支持苹果手机，如您使用的是苹果手机，请更换其他设备/使用电脑</p>
    <form action="{% url "query:get" %}" method="post" id="loginform">
        {% csrf_token %}
        学号：<input type="text" name="username" required><br>
        密码：<input type="password" name="password" required><br>
        <input type="hidden" name="queryType" value="{{queryType}}">
        <input type="submit" name="提交" id="submit">
        {% if error_msg %}
        <p><strong>{{error_msg}}</strong></p>
        {% endif %}
    </form><br>
    <a href="{% url "query:menu" %}">返回菜单</a>
</div>
{% load static %}
<script src="{% static "index/login.js" %}"></script>

{% endblock %}