{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "index/index.css" %}">
<div class="content">
    <h3>查询功能(持续更新中)</h3>
    <ul class="menu">
        <li><a href="{% url "query:login" "grade" %}">成绩单查询</a></li>
        <li><a href="{% url "query:login" "table" %}">课表查询</a></li>
        {% comment %} <li><a href="{% url "query:login" "card" %}">校园卡信息查询</a></li>
        <li><a href="{% url "query:login" "cardBill" %}">校园卡流水查询*</a></li> {% endcomment %}
        <li><a href="{% url "query:login" "exams" %}">考试信息查询*</a></li>
        <li><a href="{% url "query:login" "schedule" %}">培养方案查询(暂未开发)</a></li>
        <br>
    </ul>
    <span class="hint">*考试信息暂无法查询座位，请至官网查询!</span>
    <h3>其他</h3>
    <ul class="menu">
        <li><a href="{% url "query:message"  %}">留言板</a></li>
        <li><a href="{% url "query:logs"  %}">访问日志</a></li>
        <li><a href="{% url "query:index" %}">返回首页</a></li>
    </ul>

</div>
{% endblock %}