.content {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content img {
    max-width: 40%;
    height:auto;
}

.menu > li > a {
    text-decoration: none;
    color:blue;
}

#startbutton {
    display: flex;
    font-family: "黑体";
    font-size: large;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100px;
    height:50px;
    cursor: pointer;
    background-color:saddlebrown;
    border-radius: 5px;
}